/* #Base
--------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}

main {
  margin: var(--spacing-section-outer) 0;
  animation: fadeIn ease 850ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.logged-in-displayed {
  display: none;
  visibility: hidden;
}

.logged-in .logged-in-displayed {
  display: initial;
  visibility: initial;
}

.logged-in .logged-in-hidden {
  display: none;
  visibility: hidden;
}

.pdfjs-fullscreen {
  display: none;
}