/* #Content
--------------------------------------------------------------- */
.formatted>*:not(:nth-last-child(1)) {
    margin-top: 0;
    margin-bottom: 2rem;
}

.formatted ul>li,
.formatted ol>li {
    padding-left: 30px;
    margin-bottom: 0.65em;
    position: relative;
    text-indent: 0;
}

.formatted ol>li {
    counter-increment: item;
}

.formatted ul>li:before,
.formatted ol>li:before {
    display: block;
    position: absolute;
    top: 1em;
    left: 5px;
}

.formatted ul>li:before {
    content: "";
    border: 5px solid var(--primary);
    border-radius: 50%;
    transform: translateY(-80%);
}

.formatted ol>li:before {
    content: counter(item);
    color: var(--primary);
    font-weight: 700;
    transform: translateY(-70%);
}