/* #Typography
--------------------------------------------------------------- */
body {
  font-family: var(--body);
  line-height: 1.5;
  color: var(--primary-3);
  background-color: var(--white);
}

body,
p {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {

  body,
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {

  body,
  p {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-style: normal;
  font-family: var(--bold);
  font-weight: 700;
  line-height: 1.25;
  color: var(--primary-1);
  -webkit-font-smoothing: antialiased;
}

h5,
h6 {
  line-height: 1.4;
}

h1,
.h1-size {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {

  h1,
  .h1-size {
    font-size: 48px;
  }
}

@media screen and (min-width: 1920px) {

  h1,
  .h1-size {
    font-size: 50px;
  }
}

h2,
.h2-size {
  font-size: 24px;
}

@media screen and (min-width: 768px) {

  h2,
  .h2-size {
    font-size: 36px;
  }
}

@media screen and (min-width: 1920px) {

  h2,
  .h2-size {
    font-size: 38px;
  }
}

h3,
.h3-size {
  font-size: 22px;
}

@media screen and (min-width: 768px) {

  h3,
  .h3-size {
    font-size: 30px;
  }
}

@media screen and (min-width: 1920px) {

  h3,
  .h3-size {
    font-size: 32px;
  }
}

h4,
.h4-size {
  font-size: 20px;
}

@media screen and (min-width: 768px) {

  h4,
  .h4-size {
    font-size: 24px;
  }
}

@media screen and (min-width: 1920px) {

  h4,
  .h4-size {
    font-size: 26px;
  }
}

h5,
.h5-size {
  font-size: 18px;
}

@media screen and (min-width: 768px) {

  h5,
  .h5-size {
    font-size: 21px;
  }
}

@media screen and (min-width: 1920px) {

  h5,
  .h5-size {
    font-size: 23px;
  }
}

h6,
.h6-size {
  font-size: 16px;
}

@media screen and (min-width: 768px) {

  h6,
  .h6-size {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {

  h6,
  .h6-size {
    font-size: 20px;
  }
}

main a:not([class]),
footer a:not([class]) {
  width: unset;
  position: relative;
  color: var(--black);
  cursor: pointer;
  transition: color ease 350ms;
}

main a:not([class]):before,
footer a:not([class]):before {
  content: "";
  top: 35%;
  right: -1px;
  bottom: 0;
  left: -1px;
  display: block;
  position: absolute;
  background-color: var(--secondary);
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform ease 350ms;
}

main a:not([class]):hover:before,
main a:not([class]):focus:before,
footer a:not([class]):hover:before,
footer a:not([class]):focus:before {
  transform: scaleX(1);
}

/* Special titles */
.highlighted {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.highlighted:before {
  content: "";
  top: 50%;
  right: -10px;
  bottom: 0;
  left: -10px;
  display: block;
  position: absolute;
  background-color: var(--white);
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform ease 350ms 350ms;
}

.js-viewed .highlighted:before {
  transform: scaleX(1);
}

.highlighted-primary:before {
  background-color: var(--primary);
}

.highlighted-secondary:before {
  background-color: var(--secondary);
}