/* #Header
--------------------------------------------------------------- */
#header {
    width: 100%;
    padding: 2rem 0;
    position: relative;
    background-color: var(--primary);
    background: linear-gradient(90deg, var(--primary) 15%, var(--secondary) 100%);
    z-index: 99;
}

#header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .custom-logo {
    width: 100%;
    max-width: 115px;
    height: auto;
}