/* #Header
--------------------------------------------------------------- */
#header {
    width: 100%;
    position: relative;
    background-color: var(--primary);
    background: linear-gradient(90deg, var(--primary) 25%, var(--secondary) 75%);
    z-index: 99;
}

#header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

#header .custom-logo {
    width: 100%;
    max-width: 115px;
    height: auto;
}

/* Menu */
#header .menu-header {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: unset;
}

@media screen and (min-width: 992px) {
    #header .menu-header {
        display: flex;
    }
}

#header .menu-header li a {
    width: unset;
    padding: 3rem 1em;
    position: relative;
    display: block;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: color ease 350ms;
}

#header .menu-header li a:before {
    content: "";
    top: 48%;
    right: 1rem;
    bottom: calc(0% + 3rem);
    left: 1rem;
    display: block;
    position: absolute;
    background-color: var(--white);
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform ease 350ms;
}

#header .menu-header li a:hover:before,
#header .menu-header li a:focus:before {
    transform: scaleX(1);
}