/* #Front page
--------------------------------------------------------------- */
/* Hero */
#home-hero {
    max-width: 1000px;
    margin: var(--spacing-section-outer) auto;
    text-align: center;
}

#home-hero h1 {
    margin-bottom: var(--spacing-section-inner);
}

#home-hero .btn-wrapper {
    margin-top: var(--spacing-section-inner);
}

/* About */
#home-about {}

/* Calendar */
#home-calendar {
    margin: var(--spacing-section-outer) auto;
}

#home-calendar h2 {
    margin-bottom: var(--spacing-title);
    text-align: center;
}

#home-calendar .btn-wrapper {
    margin-top: var(--spacing-title);
    justify-content: flex-end;
}