/* #Page
--------------------------------------------------------------- */
.page-template-default .hero {
    max-width: 1000px;
    margin: var(--spacing-section-inner) auto;
    text-align: center;
}

.page-template-default h1 {
    margin-bottom: var(--spacing-title);
}

.page-template-default .featured-image {
    margin-top: var(--spacing-section-inner);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-template-default .featured-image img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}