/* #Single édito
--------------------------------------------------------------- */
.single-edito h1 {
    margin-bottom: var(--spacing-title) !important;
    text-align: center;
}

.single-edito .signature {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Bad Script', cursive;
}