/* #Variables
--------------------------------------------------------------- */
:root {
  /* Colors */
  --black: #282828;
  --white: #fefefe;

  --alto: #d9d9d9;
  --cape-honey: #ffe3a6;
  --hawkes-blue: #dde0fc;

  --primary: var(--cape-honey);
  --secondary: var(--hawkes-blue);
  --border-color: var(--alto);

  /* Fonts */
  --bold: 'Ubuntu', sans-serif;
  --body: 'Ubuntu', sans-serif;

  /* Spacings */
  --spacing-section-inner: 4rem;
  --spacing-section-outer: 6rem;
  --spacing-title: 1.5em;

  @media screen and (min-width: 1200px) {
    --spacing-section-outer: 8rem;
  }
}