/* #Variables
--------------------------------------------------------------- */
:root {
  /* Colors */
  --black: #282828;
  --white: #fefefe;

  --alto: #d9d9d9;
  --cornflower-blue: #7aa7f5;
  --hawkes-blue: #dde0fc;

  --primary: var(--cornflower-blue);
  --secondary: var(--hawkes-blue);
  --border-color: var(--alto);

  /* Fonts */
  --bold: 'Dosis', serif;
  --body: 'Ubuntu', sans-serif;

  /* Spacings */
  --spacing-section-inner: 3rem;
  --spacing-section-outer: 6rem;
  --spacing-title: 1em;

  /* Radius */
  --border-radius: 3px;
}

@media screen and (min-width: 768px) {
  :root {
    /* Spacings */
    --spacing-section-inner: 4rem;
    --spacing-section-outer: 8rem;
    --spacing-title: 1.25em;
  }
}