/* #Page quizzes
--------------------------------------------------------------- */
/* Hero */
#quizzes-hero {
    max-width: 1000px;
    margin: var(--spacing-section-inner) auto;
    text-align: center;
}

#quizzes-hero h1 {
    margin-bottom: var(--spacing-title);
}