/* #Page links
--------------------------------------------------------------- */
/* Hero */
#links-hero {
    max-width: 1000px;
    margin: var(--spacing-section-inner) auto;
    text-align: center;
}

#links-hero h1 {
    margin-bottom: var(--spacing-title);
}

/* List */
.buttons-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}